extends ../templates/public_template

block main
  .ui.segment.grey-text(align='center',style='background: linear-gradient(141deg, #e74c3c 10%, #c0392b 51%, #c0392b 75%);color:#FFFFFF;')
    i.users.icon
    | Detail Kelompok
  .ui.segment.grey-text
    .ui.grid
      .eight.wide.column
        b No TA
        br
        br
        p TA171801001
        br
        b Anggota
        br
        .ui.items
          .item(style='margin-top:1em')
            a.ui.tiny.image
              img(src='https://semantic-ui.com/images/avatar2/large/kristy.png')
            .content
              a(href='#')
                h3 Nama Lengkap
              .description
                p.grey-text
                  | NIM
          .item(style='margin-top:1em')
            a.ui.tiny.image
              img(src='https://semantic-ui.com/images/avatar2/small/mark.png')
            .content
              a(href='#')
                h3 Nama Lengkap
              .description
                p.grey-text
                  | NIM
          .item(style='margin-top:1em')
            a.ui.tiny.image
              img(src='https://semantic-ui.com/images/avatar2/small/lena.png')
            .content
              a(href='#')
                h3 Nama Lengkap
              .description
                p.grey-text
                  | NIM
      .eight.wide.column

        br
        br
        p(style='visibility:hidden;') -
        br
        b Dosen Pembimbing
        br
        .ui.items
          .item(style='margin-top:1em')
            a.ui.tiny.image
              img(src='https://semantic-ui.com/images/avatar2/large/kristy.png')
            .content
              a(href='#')
                h3 Nama Lengkap
              .description
                p.grey-text
                  | Email
          .item(style='margin-top:1em')
            a.ui.tiny.image
              img(src='https://semantic-ui.com/images/avatar2/small/mark.png')
            .content
              a(href='#')
                h3 Nama Lengkap
              .description
                p.grey-text
                  | Email
          .item(style='margin-top:1em')
            a.ui.tiny.image
              img(src='https://semantic-ui.com/images/avatar2/small/lena.png')
            .content
              a(href='#')
                h3 Nama Lengkap
              .description
                p.grey-text
                  | Email

  .ui.segment.grey-text(align='center',style='background: linear-gradient(141deg, #e74c3c 10%, #c0392b 51%, #c0392b 75%);color:#FFFFFF;')
    i.sticky.note.icon
    | Tugas Akhir
  .ui.segment.grey-text
    .ui.grid
      .sixteen.wide.column
        h5 Judul :
        | Judul Tugas Akhir

    br
    .ui.grid
      .eight.wide.column(align='center')
        h5 Poster
        img.ui.medium.image(src='https://semantic-ui.com/images/wireframe/image.png')
      .eight.wide.column(align='center')
        h5 Video
        video(controls,width='300',height:'250',)
          source(src='https://www.w3schools.com/html/mov_bbb.mp4',type='video/mp4')
