extends ../templates/template1

block navigasi
  a(class='item primary-color',href='/',style='color:#777777;')
    .text
      | Dashboard
  a(class='item primary-color',href='/kelompok',style='color:#AB2531;')
    .text
      | Kelompok TA
  .right.menu
    a(class='item grey-text',href='#')
      i.alarm.outline.icon.medium.grey-text
    a.item.ui.dropdown
      .text.grey-text
        | username
      i.dropdown.icon
      .menu
        .item.nav-pengaturan
          i.setting.icon.grey-text
          span.grey-text Pengaturan
        .item.nav-keluar
          i.sign.out.icon.grey-text
          span.grey-text Keluar

block main-middle
  .ui.segment.grey-text(align='center',style='background: linear-gradient(141deg, #e74c3c 10%, #c0392b 51%, #c0392b 75%);color:#FFFFFF;')
    i.users.icon
    | Detail Kelompok
  .ui.segment.grey-text
    //Kondisi ketika sudah memiliki judul Tugas Akhir
    b No TA
    br
    br
    p TA171801001
    br
    b Anggota
    br
    .ui.items
      .item(style='margin-top:1em')
        a.ui.tiny.image
          img(src='https://semantic-ui.com/images/avatar2/large/kristy.png')
        .content
          a(href='#')
            h3 Nama Lengkap
          .description
            p.grey-text
              | NIM
      .item(style='margin-top:1em')
        a.ui.tiny.image
          img(src='https://semantic-ui.com/images/avatar2/small/mark.png')
        .content
          a(href='#')
            h3 Nama Lengkap
          .description
            p.grey-text
              | NIM
      .item(style='margin-top:1em')
        a.ui.tiny.image
          img(src='https://semantic-ui.com/images/avatar2/small/lena.png')
        .content
          a(href='#')
            h3 Nama Lengkap
          .description
            p.grey-text
              | NIM
  .ui.segment.grey-text(align='center',style='background: linear-gradient(141deg, #e74c3c 10%, #c0392b 51%, #c0392b 75%);color:#FFFFFF;')
    i.sticky.note.icon
    | Tugas Akhir
  .ui.segment.grey-text

    //Kondisi belum memiliki judul tugas akhir
    a.ui.button(style='background: linear-gradient(141deg, #2ecc71 10%, #27ae60 51%, #27ae60 75%);color:#FFFFFF;',href='/mahasiswa/kelompok/ambil_judul')
      i.icon.add
      |   Ambil Judul Tugas Akhir

    //Kondisi ketika sudah memiliki judul tugas akhir
    //-
      b Judul
      br
      br
      p Tugas Akhir Dalam Jaringan
      br
      b Aksi
      br
      .ui.divided.items
        .item
          a.ui.button(href='/mahasiswa/kelompok/bimbingan',style='background: linear-gradient(141deg, #2ecc71 10%, #27ae60 51%, #27ae60 75%);color:#FFFFFF;width:100%;')
            | Bimbingan
        .item
          a.ui.button(href='/mahasiswa/kelompok/postervideo',style='background: linear-gradient(141deg, #2ecc71 10%, #27ae60 51%, #27ae60 75%);color:#FFFFFF;width:100%;')
            | Poster dan Video



block right-middle
  .ui.card
    .image
      img(src='https://semantic-ui.com/images/avatar2/large/kristy.png')
    .content
      a.header username
      .meta
        span.date Nama Lengkap
      .description
        | Deskripsi
    .extra.content
      a(href='/pengaturan')
        i.setting.icon
        | Pengaturan
