extends templates/public-panduan

block navigasi
  a(class='item primary-color',href='/',style='color:#777777;')
    | Halaman Awal
  a(class='item primary-color',href='/lihat_judul',style='color:#777777;')
      | Lihat Judul
  .right.menu
    a(class='item grey-text',href='/tentang')
      aside(class='grey-text') Tentang
    a(class='item grey-text',href='/panduan')
      aside(class='primary-color') Panduan
    a(class='item grey-text',href='/daftar')
      aside(class='grey-text') Daftar

block content-navigation
  | Pengguna sebagai Mahasiswa
  br
  ol
    li
      a(href='#',ng-click='mahasiswa_1_aktif()',class='transition') Pendahuluan
    li
      a(href='#',ng-click='mahasiswa_2_aktif()',class='transition') Pengambilan Kelompok
    li
      a(href='#',ng-click='mahasiswa_3_aktif()',class='transition') Pengambilan Judul
    li
      a(href='#',ng-click='mahasiswa_4_aktif()',class='transition') Bimbingan
    li
      a(href='#',ng-click='mahasiswa_5_aktif()',class='transition') Blog
  | Pengguna sebagai Dosen
  br
  ol
    li
      a(href='#',ng-click='dosen_1_aktif()',class='transition') Pendahuluan
    li
      a(href='#',ng-click='dosen_2_aktif()',class='transition') Membuat Judul
    li
      a(href='#',ng-click='dosen_3_aktif()',class='transition') Mengajukan Judul
    li
      a(href='#',ng-click='dosen_4_aktif()',class='transition') Bimbingan
    li
      a(href='#',ng-click='dosen_5_aktif()',class='transition') Blog
  | Pengguna sebagai Universitas
  br
  ol
    li
      a(href='#',ng-click='univ_1_aktif()',class='transition') Konfirmasi pendaftaran dosen & mahasiswa
    li
      a(href='#',ng-click='univ_2_aktif()',class='transition') Mengaktifkan judul
    li
      a(href='#',ng-click='univ_3_aktif()',class='transition') Mengubah pembimbing
    li
      a(href='#',ng-click='univ_4_aktif()',class='transition') Membuat kelompok TA

block content
  div(ng-if="default == true") Silahkan pilih menu sebelah kiri untuk melihat detail panduan.
  div(ng-if="mahasiswa_1 == true", ng-include = "'/panduan/mahasiswa/1'")
  div(ng-if="mahasiswa_2 == true", ng-include = "'/panduan/mahasiswa/2'")
  div(ng-if="mahasiswa_3 == true", ng-include = "'/panduan/mahasiswa/3'")
  div(ng-if="mahasiswa_4 == true", ng-include = "'/panduan/mahasiswa/4'")
  div(ng-if="mahasiswa_5 == true", ng-include = "'/panduan/mahasiswa/5'")

  div(ng-if="dosen_1 == true", ng-include = "'/panduan/dosen/1'")
  div(ng-if="dosen_2 == true", ng-include = "'/panduan/dosen/2'")
  div(ng-if="dosen_3 == true", ng-include = "'/panduan/dosen/3'")
  div(ng-if="dosen_4 == true", ng-include = "'/panduan/dosen/4'")
  div(ng-if="dosen_5 == true", ng-include = "'/panduan/dosen/5'")

  div(ng-if="univ_1 == true", ng-include = "'/panduan/univ/1'")
  div(ng-if="univ_2 == true", ng-include = "'/panduan/univ/2'")
  div(ng-if="univ_3 == true", ng-include = "'/panduan/univ/3'")
  div(ng-if="univ_4 == true", ng-include = "'/panduan/univ/4'")
