extends templates/public-putih

block navigasi
  a(class='item primary-color',href='/',style='color:#777777;')
    | Halaman Awal
  a(class='item primary-color',href='/lihat_judul',style='color:#777777;')
      | Lihat Judul
  .right.menu
    a(class='item grey-text',href='/tentang')
      aside(class='primary-color') Tentang
    //-
      a(class='item grey-text',href='/panduan')
        aside(class='grey-text') Panduan
    a(class='item grey-text',href='/daftar')
      aside(class='grey-text') Daftar

block content
  .sixteen.wide.column.grey-text
    p.paragraph-line-height Tugas Akhir Dalam Jaringan disingkat TADJ, dibuat untuk memudahkan pelaksanaan kegiatan Tugas Akhir. Dilakukan dalam jaringan yang tidak terbatas waktu dan tempat,
      dilakukan  antara mahasiswa, dosen dan universitas dalam berinteraksi dalam pelaksanaan Tugas Akhir. Pada awalnya TADJ diperuntukan untuk mahasiswa Institut Teknologi Bandung saja, 
      namun tidak menutup kemungkinan pada kedepannya akan digunakan oleh Institusi pendidikan lainnya dengan mengikuti sistem TADJ.
