doctype html
html(lang='en')
  head
    title TADJ | Halaman tidak ditemukan
    link(rel='shortcut icon', href='/images/shortcut-icon.png')
    link(rel='stylesheet', href='/semanticUI/semantic.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/semanticUI/semantic.min.js')
  body
    section(class='ui container')
      main(class='ui segment',style='padding: 3em 4em 3em 4em;margin-top:1em;')
        .ui.grid.stackable
          div Halaman yang anda tuju tidak ditemukan
              br
              br
              a(href='/') Klik disini untuk kembali ke halaman utama
