doctype html
html(lang='en')
  head
    title TADJ | #{title}
    link(rel='shortcut icon', href='/images/shortcut-icon.png')
    link(rel='stylesheet', href='/semanticUI/semantic.css')
    link(rel='stylesheet', href='/stylesheets/custom-grid.css')
    link(rel='stylesheet', href='/stylesheets/slick.css')
    link(rel='stylesheet', href='/stylesheets/slick-theme.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/javascripts/slick.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/semanticUI/semantic.min.js')
  body
    section(class='ui container')
      nav(class='ui secondary pointing menu')
        block navigasi
      main
        .ui.grid(class='ui segment')
          block form-pencarian
        block daftar-judul
      br
      footer(align='center',class='primary-color')= copyright
    script.
      $('select.dropdown').dropdown()
      $('.ui.accordion').accordion()
