doctype html
html(lang='en')
  head
    title TADJ | #{title}
    link(rel='shortcut icon', href='/images/shortcut-icon.png')
    link(rel='stylesheet', href='/semanticUI/semantic.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel='stylesheet', href='/stylesheets/slick.css')
    link(rel='stylesheet', href='/stylesheets/slick-theme.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/javascripts/slick.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/semanticUI/semantic.min.js')
  body
    section(class='ui container')
      nav(class='ui secondary pointing menu')
        block navigasi
      main(class='ui segment',style='padding: 3em 4em 3em 4em;')
        .ui.grid.stackable
          block content
      footer(align='center',class='primary-color')= copyright
    script.
      $('.carousel-introduction').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 3000,
        dots: true,
        infinite: true,
        arrows: false,
        focusOnSelect: true
      });
      $('select.dropdown').dropdown();
