extends ../templates/public-putih

block navigasi
  a(class='item primary-color',href='/',style='color:#777777;')
    | Halaman Awal
  a(class='item primary-color',href='/lihat_judul',style='color:#777777;')
      | Lihat Judul
  .right.menu
    a(class='item grey-text',href='/tentang')
      aside(class='grey-text') Tentang
    a(class='item grey-text',href='/panduan')
      aside(class='grey-text') Panduan
    a(class='item grey-text',href='/daftar')
      aside(class='primary-color') Daftar

block content
  .eight.wide.column.grey-text
    | Foto Pengguna Dosen
  .eight.wide.column.grey-text
    h2.primary-color Daftar sebagai Dosen
    br
    form.ui.form
      .field
        div Email
        input(type='text', name='email', placeholder='Email Anda untuk login')
      .field
        div Sandi
        input(type='password', name='sandi', placeholder='Sandi Anda untuk login')
      .field
        div Username
        input(type='text', name='username', placeholder='Buat username Anda')

      .field
        button.ui.button(type='button', style='color: white; background: linear-gradient(141deg, #e74c3c 10%, #c0392b 51%, #c0392b 75%);') Lanjutkan
