extends templates/template1

block navigasi
  a(class='item primary-color',href='/',style='color:#AB2531;')
    | Beranda
  a(class='item primary-color',href='/lihat_judul',style='color:#777777;')
      | Kelompok TA
  .right.menu
    a(class='item grey-text',href='#')
      i.alarm.outline.icon.medium
    a.item.ui.dropdown
      .text
        | username
      i.dropdown.icon
      .menu
        .item Profil
        .item Keluar
