extends ../templates/template1

block navigasi
  a(class='item primary-color',href='/',style='color:#777777;')
    .text
      | Dashboard
  a(class='item primary-color',href='/bimbingan',style='color:#777777;')
    .text
      | Bimbingan
  a(class='item primary-color',href='/judul',style='color:#AB2531;')
    .text
      | Judul TA
  .right.menu
    a(class='item grey-text',href='#')
      i.alarm.outline.icon.medium.grey-text
    a.item.ui.dropdown
      .text.grey-text
        | username
      i.dropdown.icon
      .menu
        .item
          i.setting.icon.grey-text
          span.grey-text Pengaturan
        .item
          i.sign.out.icon.grey-text
          span.grey-text Keluar

block main-middle
  .ui.segment.grey-text(align='center',style='background: linear-gradient(141deg, #e74c3c 10%, #c0392b 51%, #c0392b 75%);color:#FFFFFF;')
    i.university.icon
    | Pilih Institusi Pendidikan
  .ui.segment.grey-text
    .ui.grid
      .sixteen.wide.column
        .ui.items
          .item(style='margin-top:1em')
            a.ui.tiny.image
              img(src='https://upload.wikimedia.org/wikipedia/id/9/95/Logo_Institut_Teknologi_Bandung.png')
            .content
              h3 Institut Teknologi Bandung
              .description
                p.grey-text
                  .ui.accordion
                    .title
                      a(href='/dosen/judul/pengajuan/universitas') Pilih



          .item(style='margin-top:1em')
            a.ui.tiny.image
              img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Ubl_baru.jpg/220px-Ubl_baru.jpg')
            .content.grey-text
              h3 Universitas Bandar Lampung
              .description
                p.grey-text
                  .ui.accordion
                    .title
                      a(href='#') Pilih


block right-middle
  .ui.card
    .image
      img(src='https://semantic-ui.com/images/avatar2/large/kristy.png')
    .content
      a.header username
      .meta
        span.date Nama Lengkap
      .description
        | Deskripsi
    .extra.content
      a
        i.setting.icon
        | Pengaturan
