extends ../templates/template1

block navigasi
  a(class='item primary-color',href='/',style='color:#777777;')
    .text
      | Dashboard
  a(class='item primary-color',href='/institusi/anggota',style='color:#777777;')
    .text
      | Anggota
  a(class='item primary-color',href='/institusi/judul',style='color:#AB2531;')
    .text
      | Judul TA
  a(class='item primary-color',href='/institusi/kelompok',style='color:#777777;')
    .text
      | Kelompok TA
  .right.menu
    a(class='item grey-text',href='#')
      i.alarm.outline.icon.medium.grey-text
    a.item.ui.dropdown
      .text.grey-text
        | username
      i.dropdown.icon
      .menu
        .item.nav-pengaturan
          i.setting.icon.grey-text
          span.grey-text Pengaturan
        .item.nav-keluar
          i.sign.out.icon.grey-text
          span.grey-text Keluar

block main-middle
  .ui.segment.grey-text(align='center',style='background: linear-gradient(141deg, #e74c3c 10%, #c0392b 51%, #c0392b 75%);color:#FFFFFF;')
    i.list.layout.icon
    | Daftar Judul TA
  .ui.segment.grey-text
    br
    .ui.grid(style='padding:0 1em 1em 1em;')
      .sixteen.wide.column
        br
        table.ui.very.basic.collapsing.celled.table(style='width:100%;')
          thead
            tr
              th No
              th Judul
              th Tahun Ajaran
              th Aksi
          tbody
            tr
              td 1
              td BITS: Sistem Manajemen On-Street Parking
              td 2016/2017
              td
                a#detail-daftar-judul(href='#') Detail
                br
                br
                a#aksi-daftar-judul(href='#') Aksi


block right-middle
  .ui.card
    .image
      img(src='https://semantic-ui.com/images/avatar2/large/kristy.png')
    .content
      a.header username
      .meta
        span.date Nama Lengkap
      .description
        | Deskripsi
    .extra.content
      a(href='/pengaturan')
        i.setting.icon
        | Pengaturan

block modal

  .ui.modal.aksi-daftar-judul
    i.close.icon
    .header Aksi
    .content
      .ui.form
        .field
          label Daftar Pembimbing
          table
            tr
              td 1.&nbsp;
              td Dosen A
              td ,&nbsp;
                a(href='#') Hapus dari pembimbing
            tr
              td 2.&nbsp;
              td Dosen B
              td ,&nbsp;
                a(href='#') Hapus dari pembimbing
        .field
          label Tambah Pembimbing
          select.ui.dropdown
            option(value='') Pilih Dosen
            option(value='1') Ary Setijadi - Institut Teknologi Bandung
        .field
          button.ui.button(type='submit',style='background: linear-gradient(141deg, #2ecc71 10%, #27ae60 51%, #27ae60 75%);color:#FFFFFF;') Kirim
      br
      br
      .ui.form
        .field
          label Daftar Pengusul
          table
            tr
              td 1.&nbsp;
              td Dosen A
              td ,&nbsp;
                a(href='#') Hapus dari pengusul
            tr
              td 2.&nbsp;
              td Dosen B
              td ,&nbsp;
                a(href='#') Hapus dari pengusul
        .field
          label Tambah Pengusul
          select.ui.dropdown
            option(value='') Pilih Dosen
            option(value='1') Ary Setijadi - Institut Teknologi Bandung
        .field
          button.ui.button(type='submit',style='background: linear-gradient(141deg, #2ecc71 10%, #27ae60 51%, #27ae60 75%);color:#FFFFFF;') Kirim
      br
      br
      .ui.form
        .field
          label Detail judul TA
        .field
          label Tahun Ajaran
          select.ui.dropdown
            option(value='') Pilih Tahun Ajaran
            option(value='1') 2016/2017
        .field
          label Semester
          select.ui.dropdown
            option(value='') Pilih Semester
            option(value='1') Genap
        .field
          label Prodi
          select.ui.dropdown
            option(value='') Pilih Prodi
            option(value='1') Genap
        .field
          label Pilih Kuota
          select.ui.dropdown
            option(value='') Pilih Prodi
            option(value='1') 1
        .field
          label Deskripsi
          textarea
        .field
          label Alat
          textarea
        .field
          button.ui.button(type='submit',style='background: linear-gradient(141deg, #2ecc71 10%, #27ae60 51%, #27ae60 75%);color:#FFFFFF;') Kirim
      br
      br
      .ui.form
        .field
          button.ui.button(type='submit',style='background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(6,77,153,1) 100%);color:#FFFFFF;') Bagikan ke judul Institusi Anda

  .ui.modal.detail-daftar-judul
    i.close.icon
    .header Detail
    .content
      table.ui.very.basic.collapsing.celled.table(style='width:100%;')
        thead
          tr
            th Judul
            th Pembimbing
            th Tahun Ajaran
            th Semester
            th Prodi
            th Jenjang
            th Kuota
            th Deskripsi
            th Alat
        tbody
          tr
            td BITS: Sistem Manajemen On-Street ParkingBITS: Sistem Manajemen On-Street ParkingBITS: Sistem Manajemen On-Street Parking
            td
              ol
                li a
                li b
                li c
            td 2016/2017
            td Genap
            td Teknik
            td S1
            td 3
            td Deskripsi
            td Alat
