extends ../templates/template1

block navigasi
  a(class='item primary-color',href='/',style='color:#AB2531;')
    .text
      | Dashboard
  a(class='item primary-color',href='/bimbingan',style='color:#777777;')
    .text
      | Bimbingan
  .right.menu
    a(class='item grey-text',href='#')
      i.alarm.outline.icon.medium.grey-text
    a.item.ui.dropdown
      .text.grey-text
        | username
      i.dropdown.icon
      .menu
        .item.nav-pengaturan
          i.setting.icon.grey-text
          span.grey-text Pengaturan
        .item.nav-keluar
          i.sign.out.icon.grey-text
          span.grey-text Keluar

block main-middle
  .ui.segment.grey-text(align='center',style='background: linear-gradient(141deg, #e74c3c 10%, #c0392b 51%, #c0392b 75%);color:#FFFFFF;')
    i.university.icon
    | Pengaturan Akademik
  .ui.segment.grey-text
    .ui.grid(style='padding:1em;')
      .ui.relaxed.divided.list
        .item
          i.student.icon
          .content
            a.grey-text Anda mendaftar sebagai dosen
            .description
              .ui.items
                .item(style='margin-top:1em')
                  a.ui.tiny.image
                    img(src='https://upload.wikimedia.org/wikipedia/id/9/95/Logo_Institut_Teknologi_Bandung.png')
                  .content
                    a(href='#')
                      h3 Institut Teknologi Bandung
                    .description
                      p.grey-text
                        .ui.accordion
                          .title
                            i.dropdown.icon.grey-text
                            span.grey-text Lihat detail
                          .content.grey-text
                            .ui.list
                              .item
                                .header(style='color:#777;') Jenjang
                                |     S1
                              br
                              .item
                                .header(style='color:#777;') Prodi
                                |     Teknik Elektro
                              br
                              .item
                                .header(style='color:#777;') NIM
                                |     155555555
                              br
                              .item
                                .header(style='color:#777;') Foto KTM
                                a(href='http://isic.com.pk/wp-content/uploads/2017/01/ISIC_face_lr2ssssssssss.jpg',target='_blank')
                                  img.ui.tiny.image(src='http://isic.com.pk/wp-content/uploads/2017/01/ISIC_face_lr2ssssssssss.jpg')
                              br
                              .item
                                .header(style='color:#777;') Status
                                | Diterima pada tanggal 10-10-2017
                              br
                              .item
                                .header(style='font-weight:lighter;')
                                  a.ubah-data-akademik(href='#')
                                    i.icon.write.primary-color
                                    span.primary-color Ubah Data


                .item(style='margin-top:1em')
                  a.ui.tiny.image
                    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Ubl_baru.jpg/220px-Ubl_baru.jpg')
                  .content.grey-text
                    a(href='#')
                      h3 Universitas Bandar Lampung
                    .description
                      p.grey-text
                        .ui.accordion
                          .title
                            i.dropdown.icon.grey-text
                            span.grey-text Lihat detail
                          .content.grey-text
                            .ui.list
                              .item
                                .header(style='color:#777;') Jenjang
                                |     S2
                              br
                              .item
                                .header(style='color:#777;') Prodi
                                |     Sistem Kendali
                              br
                              .item
                                .header(style='color:#777;') NIM
                                |     23333333
                              br
                              .item
                                .header(style='color:#777;') Foto KTM
                                a(href='https://s3-eu-west-1.amazonaws.com/media.isic.org/isicwp/uploads/cache/288x181_ITIC_personalised.F13.png',target='_blank')
                                  img.ui.tiny.image(src='https://s3-eu-west-1.amazonaws.com/media.isic.org/isicwp/uploads/cache/288x181_ITIC_personalised.F13.png')
                              br
                              .item
                                .header(style='color:#777;') Status
                                | Diterima pada tanggal 10-10-2017
                              br
                              .item
                                .header(style='font-weight:lighter;')
                                  a.ubah-data-akademik(href='#')
                                    i.icon.write.primary-color
                                    span.primary-color Ubah Data

              a.ui.button#tambah-institusi(style='background: linear-gradient(141deg, #2ecc71 10%, #27ae60 51%, #27ae60 75%);color:#FFFFFF;')
                i.icon.add
                |   Tambah Institusi Pendidikan




block right-middle
  .ui.card
    .image
      img(src='https://semantic-ui.com/images/avatar2/large/kristy.png')
    .content
      a.header username
      .meta
        span.date Nama Lengkap
      .description
        | Deskripsi
    .extra.content
      a(href='/pengaturan')
        i.setting.icon
        | Pengaturan

block modal
  .ui.modal.tambah-institusi
    i.close.icon
    .header Tambah Institusi Pendidikan
    .content
      .ui.form
        .field
          label Institusi Pendidikan
          select.ui.dropdown
            option(value='') Pilih Institusi Pendidikan
            option(value='1') Universitas Indonesia
            option(value='0') Universitas Gajah Mada
        .field
          label Jenjang
          select.ui.dropdown
            option(value='') Pilih Jenjang
            option(value='1') S1
            option(value='0') S2
        .field
          label Prodi
          select.ui.dropdown
            option(value='') Pilih Prodi
            option(value='1') Teknik Kelautan
            option(value='0') Teknik Perminyakan
        .field
          label NIM
          input(type='text', name='first-name', placeholder='Tuliskan NIM')
        .field
          label Foto KTM (Kartu Tanda Mahasiswa)
          input(type='file', name='first-name')
        .field
          button.ui.button(type='submit',style='background: linear-gradient(141deg, #2ecc71 10%, #27ae60 51%, #27ae60 75%);color:#FFFFFF;') Kirim

  .ui.modal.ubah-institusi
    i.close.icon
    .header Ubah Data Institusi Pendidikan
    .content
      .ui.form
        .field
          label Institusi Pendidikan
          select.ui.dropdown
            option(value='') Pilih Institusi Pendidikan
            option(value='1') Universitas Indonesia
            option(value='0') Universitas Gajah Mada
        .field
          label Jenjang
          select.ui.dropdown
            option(value='') Pilih Jenjang
            option(value='1') S1
            option(value='0') S2
        .field
          label Prodi
          select.ui.dropdown
            option(value='') Pilih Prodi
            option(value='1') Teknik Kelautan
            option(value='0') Teknik Perminyakan
        .field
          label NIM
          input(type='text', name='first-name', placeholder='Tuliskan NIM')
        .field
          label Foto KTM (Kartu Tanda Mahasiswa)
          input(type='file', name='first-name')
        .field
          button.ui.button(type='submit',style='background: linear-gradient(141deg, #2ecc71 10%, #27ae60 51%, #27ae60 75%);color:#FFFFFF;') Kirim
