extends ../templates/template1

block navigasi
  a(class='item primary-color',href='/',style='color:#AB2531;')
    .text
      | Dashboard
  a(class='item primary-color',href='/bimbingan',style='color:#777777;')
    .text
      | Bimbingan
  a(class='item primary-color',href='/judul',style='color:#777777;')
    .text
      | Judul TA
  .right.menu
    a(class='item grey-text',href='#')
      i.alarm.outline.icon.medium.grey-text
    a.item.ui.dropdown
      .text.grey-text
        | username
      i.dropdown.icon
      .menu
        .item
          i.setting.icon.grey-text
          span.grey-text Pengaturan
        .item
          i.sign.out.icon.grey-text
          span.grey-text Keluar

block main-middle
  .ui.segment.grey-text(align='center',style='background: linear-gradient(141deg, #e74c3c 10%, #c0392b 51%, #c0392b 75%);color:#FFFFFF;')
    i.setting.icon
    | Pengaturan
  .ui.segment.grey-text
    .ui.grid
      .three.wide.column
        br
        i.university.icon.huge
      .threeten.wide.column
        h3 Akademik
        p Mengatur asal Universitas, Unggah Kartu Tanda Pengajar untuk konfirmasi, dll.
        a(href='/pengaturan/akademik') Lanjutkan
  .ui.segment.grey-text
    .ui.grid
      .three.wide.column
        br
        i.user.icon.huge
      .threeten.wide.column
        h3 Profil
        p Mengatur nama depan, nama belakang, foto profil, dan deskripsi.
        a(href='/pengaturan/profil') Lanjutkan

block right-middle
  .ui.card
    .image
      img(src='https://semantic-ui.com/images/avatar2/large/kristy.png')
    .content
      a.header username
      .meta
        span.date Nama Lengkap
      .description
        | Deskripsi
    .extra.content
      a
        i.setting.icon
        | Pengaturan
