doctype html
html(lang='en')
  head
    title TADJ | #{title}
    link(rel='shortcut icon', href='/images/shortcut-icon.png')
    link(rel='stylesheet', href='/semanticUI/semantic.css')
    link(rel='stylesheet', href='/stylesheets/custom-grid.css')
    link(rel='stylesheet', href='/stylesheets/slick.css')
    link(rel='stylesheet', href='/stylesheets/slick-theme.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/javascripts/slick.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/semanticUI/semantic.min.js')
  body
    section.ui.container
      nav.ui.secondary.pointing.menu
        block navigasi
      main
        .ui.equal.width.grid
          .column
            .ui.segment
              .ui.middle.aligned.divided.list
                .item(style='padding:1em;')
                  .content
                    a.grey-text(href='#')
                      i.write.icon
                      | Blog
                .item(style='padding:1em;')
                  .content
                    a.grey-text(href='#')
                      i.talk.outline.icon
                      | Forum
                .item(style='padding:1em;')
                  .content
                    a.grey-text(href='#')
                      i.book.icon
                      | Panduan
                .item(style='padding:1em;')
                  .content
                  a.grey-text(href='#')
                    i.user.icon
                    | Portofolio
          .eight.wide.column
            block main-middle
          .column
            block right-middle

      br
      footer.grey-text(align='center')= copyright
      block modal
    script.
      $('.ui.dropdown').dropdown()
      $('.nav-pengaturan').click(function(){
        document.location.href = '/pengaturan'
      })
      $('.nav-keluar').click(function(){
        alert('keluar')
      })
      $('.ui.accordion').accordion()

      $('#tambah-institusi').click(function(){
        $('.ui.modal.tambah-institusi')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })

      $('.ubah-data-akademik').click(function(){
        $('.ui.modal.ubah-institusi')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })

      $('#ubah-poster').click(function(){
        $('.ui.modal.ubah-poster')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })

      $('#ubah-video').click(function(){
        $('.ui.modal.ubah-video')
          .modal('show')
          .modal({
                  blurring: true,
                  closable : true
                })
      })
