doctype html
html(lang='en')
  head
    title TADJ | #{title}
    link(rel='shortcut icon', href='/images/shortcut-icon.png')
    link(rel='stylesheet', href='/semanticUI/semantic.css')
    link(rel='stylesheet', href='/stylesheets/custom-grid.css')
    link(rel='stylesheet', href='/stylesheets/slick.css')
    link(rel='stylesheet', href='/stylesheets/slick-theme.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/javascripts/slick.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/semanticUI/semantic.min.js')
  body
    section.ui.container
      nav.ui.secondary.pointing.menu
        block navigasi
      main
        .ui.equal.width.grid
          .column
            .ui.segment
              .ui.middle.aligned.divided.list
                .item(style='padding:1em;')
                  .content
                    a.grey-text(href='#')
                      i.talk.outline.icon
                      | Forum
                .item(style='padding:1em;')
                  .content
                    a.grey-text(href='#')
                      i.book.icon
                      | Panduan
                .item(style='padding:1em;')
                  .content
                  a.grey-text(href='#')
                    i.user.icon
                    | Portofolio
          .eight.wide.column
            .ui.segment
              .ui.form
                .field
                  label Tulis kegiatan anda
                  textarea(rows='2',style='resize:none;')
          .column
            .ui.card
              .image
                img(src='https://semantic-ui.com/images/avatar2/large/kristy.png')
              .content
                a.header Kristy
                .meta
                  span.date Joined in 2013
                .description
                  | Kristy is an art director living in New York.
              .extra.content
                a
                  i.user.icon
                  |       22 Friends


      footer.grey-text(align='center')= copyright
    script.
      $('.ui.dropdown')
        .dropdown()
